:root{
    --bg-hud-darker:rgba(18,43,44,0.8);
    --bg-hud-dark:rgba(24,55,63,0.8);
    --bg-hud-light:rgba(32,90,104,0.8);
    --hud-border-light:rgb(199, 152, 66);
    --hud-border:rgb(174,135,76);
    --hud-border-dark:rgb(127,99,56);
    

    --gold-text-light:rgb(227,203,45);
    --gold-text:rgb(195,166,44);
    --gold-text-dark:rgb(107,81,33);

    --coming-soon:#385ea5;
    --nav-bg:#FFFFFF;
    --main-bg:#111111;

    --guess-text: #ececec;
    --correct:#47be51;
    --correct-dark:#185e35;
    --incorrect:#ca3e3e;
    --incorrect-dark:#721a26;
    --partially:#e2ab34;
    --partially-dark:#976122;
}



/********************************************************************/
/*                                                                  */
/*                          NAV & BASICS                            */
/*                                                                  */
/********************************************************************/
*{
    padding:0;
    margin:0;
    font-family: 'friz_quadrataregular';
    text-decoration: none;
}
#classic{
    display:flex;
    flex-direction: column;
    align-items: center;
}
body{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("img/bg.jpg");
    background-size:230vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}
#blur{
    display:flex;
    justify-content: center;
    width:100%;
    padding:2em 0 2em 0;

    backdrop-filter: blur(3px);
}
nav{
    backdrop-filter: blur(3px);
    font-size: 2em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    z-index:10;
    padding:1em;
    width:30%;


    border:solid 3px var(--hud-border);
    border-radius:1em;
    background: linear-gradient(var(--bg-hud-light),var(--bg-hud-darker));
}
#small-nav-wrapper{
    backdrop-filter: blur(3px);

    display:flex;
    flex-direction: row;
    justify-content: center;
}
#main-nav{
    padding:1em;
}
#new-nav{
    margin-top:1em;
    width:auto;
    font-size: 0.2em;
}
#nav-patch-wrapper{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
}
#patch-button{
    background:radial-gradient(var(--bg-hud-darker),var(--bg-hud-dark));
    border-radius: 1em;
    padding:0.5em;
    position:absolute;
    left:14em;
    transform:scale(1);

    transition:transform 0.2s;
}
#patch-button:hover{
    cursor:pointer;
    transform:scale(1.05);
}
nav ul{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
nav ul li a{
    color:var(--gold-text);
    display:flex;
    align-items: center;
}
nav ul li a img{
    padding:0.1em;
}
nav ul li{
    transition: transform 0.2s;
}
nav ul li:hover{
    transform:scale(1.05);
}
#main-nav{
    flex-direction: row;
}
#main-nav li{
    margin:0.5em;
    width:auto;
}
.coming{
    margin-left: 1em;
    color:var(--coming-soon);
    font-size:0.5em;
}
li{
    width:100%;
    list-style: none;
    display:flex;
    align-items: center;
    margin:0.1em;

    background-color: var(--bg-hud-dark);
    border:solid 2px var(--hud-border-dark);
    border-radius: 0.3em;
}
.icon{
    display:flex;
    align-items: center;
    justify-content: center;

    padding:0.5em;
    margin: 0.2em;

    color:var(--gold-text-dark);
    background:linear-gradient(var(--bg-hud-dark),var(--bg-hud-darker));
}
#patch-note-wrapper{
    flex-direction:column;
    height:35em;
    padding:1em;
    width:400%;
    top:7em;
    position:absolute;
    z-index:20;
    background:linear-gradient(-135deg, rgba(32,90,104,0.95) 10%, rgba(18,43,44,1) 70%, rgb(9, 25, 37));
    border:solid 3px var(--hud-border-dark);
    border-radius: 2em;
}
.scrollable{
    position:relative;
    top:1em;
    overflow-y:auto;
    height:30em;
    width:100%;
}
#title-cross{
    display:flex;
    justify-content: space-between;
}
#cross:hover{
    cursor:pointer
}
.line{
    margin: 0.5em 0 1em 0;
    display:block;
    width:60%;
    height:0.4em;
    transform: skewX(-30deg);
    background:linear-gradient(to right,rgb(236, 192, 125)1%, var(--hud-border),var(--hud-border-dark));
}
h1{
    font-size:2.5em;
    color:var(--gold-text);
    text-shadow:1px 0px var(--gold-text-dark);
}
h2{
    text-decoration: underline;
    font-size:2.5em;
    color:var(--gold-text);
}
h3{
    font-size:1.5em;
    color:var(--hud-border);
}
#patch-note p{
    color:rgb(212, 192, 155);
}

/********************************************************************/
/*                                                                  */
/*                          CLASSIC MODE                            */
/*                                                                  */
/********************************************************************/
#main{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0 0 0;
    padding:1em;
    width:67%;

}
label{
    font-size: 4em;
    color:var(--gold-text);
    text-shadow: var(--gold-text-dark) 0px 3px, black 0 5px , var(--gold-text-light) 0 -1px;
}
#input-button{
    width:67%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
#enter-button{
    position:absolute;
    width:10%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0.5em;
    margin:0.5em;

    border:solid 2px var(--hud-border-dark);
    border-radius: 1em;
    background: linear-gradient(var(--bg-hud-darker),var(--bg-hud-light));
    width:auto;
    height: auto;

    transition:transform 0.1s;
}
#enter-button:hover{
    cursor:pointer;
    transform:scale(1.05);
}
#enter-button:active{
    transform:scale(1);
}
input{
    margin: 1em 0 1em 0;
    width:100%;
    height:2em;
    padding: 0.3em 0.5em 0.3em 0.5em;

    border: solid 3px var(--hud-border-dark);
    border-radius: 0.5em;

    color:var(--gold-text);
    font-size: 2em;

    background: linear-gradient(var(--bg-hud-dark),black);
}
#propositions-input-wrapper{
    backdrop-filter: blur(3px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}
#propositions{
    display:flex;
    flex-direction: column;
    top:7.5em;
    position:absolute;
    width:66%;
    border:solid 2px var(--hud-border-dark);

    z-index: 10;
}
.proposition{
    background: linear-gradient(to right, var(--bg-hud-darker), var(--bg-hud-light));
    margin:0 0 0 0;
    border:none;
    border-bottom: solid 1px var(--hud-border-dark);

    z-index: 100;
}
.proposition p{
    margin-left:1em;
    color: var(--gold-text);
}

#desc{
    display:flex;
    flex-direction: row;

}
#desc li{
    width:120px;
    justify-content: center;
    color:var(--gold-text);
    border:solid 1px var(--hud-border-dark);
    background-color: var(--bg-hud-dark);
}
.guess{
    display:flex;
}
.guess li{
    display:flex;
    justify-content: center;
    width:120px;


    color:var(--guess-text);
    border:solid 1px var(--hud-border-dark);
    transform:rotate3d(0, 1 , 0 , 90deg);
}
.guess li p{
    font-size: 1.5em;
    width:120px;
    text-align: center;
}

@keyframes flip{
    from{
        display:none;
        filter:blur(5px) brightness(2);
        transform: rotate3d(0, 1 , 0 , 90deg);
    }
    to{
        display:flex;
        filter:blur(0) brightness(1);
        transform: rotate3d(0,1,0,0);
    }
}
@keyframes win{
    from{
        filter:opacity(100%);
    }
    to{
        top:-10em;
        filter:opacity(0);
    }
}
/********************************************************************/
/*                                                                  */
/*                          FONTS SPACE                             */
/*                                                                  */
/********************************************************************/
@font-face {
    font-family: 'frizquadratabold';
    src: url('fonts/friz_quadrata_bold-webfont.woff2') format('woff2'),
         url('fonts/friz_quadrata_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'friz_quadrataregular_italic';
    src: url('fonts/friz_quadrata_italic-webfont.woff2') format('woff2'),
         url('fonts/friz_quadrata_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'friz_quadrataregular';
    src: url('fonts/friz_quadrata_regular-webfont.woff2') format('woff2'),
         url('fonts/friz_quadrata_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'friz_quadrata_stdmedium';
    src: url('fonts/friz_quadrata_std_medium-webfont.woff2') format('woff2'),
         url('fonts/friz_quadrata_std_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}